<div class="hud-container">
  <div class="hud-controls">
    <button class="remove" data-action="pts" data-target="rmv">−</button>
    <span class="value">{{points}}/3</span>
    <button class="add" data-action="pts" data-target="add">+</button>
  </div>
</div>
